<% flash.each do |key, value| %>
    <% if key == 'notice' %>
            <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 text-center px-4 py-3" role="alert">
                <%= value %>
            </div>
    <% else %>
        <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 text-center p-4" role="alert">
            <%= value %>
        </div>
    <% end %>

<% end %>