
  <div class="container mt-5">
    <div class="banner">
      <h1>Start managing your tasks like a <strong id="hero">hero</strong>!</h1>
      <p>No more sticky-note frenezia and papers all over the place.</p>
      <p>Use one app for all to-do's. Organize your tasks in lists and keep track of the time you'll spend on each task</p>
      <div class="todo-svg">
        <p> [TODO][time track] </p>
        <p> [TODO][list organizing] </p>
        <p> [TODO][task completion overview] </p>
      </div>
      <div class="mt-5">
        <%= link_to "Try app as guest", new_user_session_path, class: "btn btn-warning btn-lg" %>
        <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-outline-warning btn-lg" %>
      </div>
      <div class="test-account mt-3">
        
      </div>
    </div>
  </div>