.task {
  position: relative;
}

.duration {
  position: absolute;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 3px dashed #ffde59;
  border-radius: 4px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 20px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
  align-items: center;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0.5;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions button {
  color: #ffc108;
  margin-right: 16px;
  font-size: 25px;
}

.notification img {
  height: 100%;
  width: 4rem;
  object-fit: cover;
}

.done {
  pointer-events: none;
  opacity: 0.4;

  .notification {
    border: none;
  }
  .notification-actions i {
  border: none;
  padding: 0;
  }
  i {
    color: rgb(3, 155, 3);
  }
}

